<div class="container">
  <div class="row">
    <div class="col 6">
<div class="card">
  <div class="card-header card-primary">
    <h6 class="card-title ">Agregar Colaborador</h6>
  </div>
  <form>
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Correo</label>
        <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Correo"
            [(ngModel)]="updateData.email"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <button type="submit" class="btn btn-primary mt-2" (click)="addColaborator()">Añadir Colaborador</button>
  
    </div>
  </form>
</div>
</div>
<div class="col 6">
  <table class="table table-hover" >
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Listado de colaboradores del proyecto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colab of proyectColab"
      hideToggle="false">
        <td>{{colab}}</td>
      </tr>
    </tbody>
  </table>
</div>

