.navBar{
    background-color: #fafafa;
    padding: 0px;
    margin: 0px;
    display:flex;
    justify-content: center;
    text-align: start;
}
.fas{
    color:#000000;
    font-size: 1.5rem;
    padding: 3px;
}



